* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do menu principal */
.menu {
    list-style-type: none;
}

.menu>li {
    position: relative;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #34495e;
}

/* Estilos do submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #34495e;
    min-width: 90px;
    z-index: 1000;
}

.submenu li {
    width: 100%;
}


.menu>li:hover>.submenu {
    display: block;
}

.line {
    padding: 1rem;
}

.line-item {
    height: 4px;
    max-width: 30px;
    background-color: #fff;
    border-radius: 2px;
    margin: 4px;
    transition: all 0.3s ease;    
}

.caixa {
   width: 100px;
   height: 100px;
   border: #34495e 1px solid;
   margin: 2rem;
   object-fit: contain;
}

/*Aqui criei estilos para dispositivos móveis */
@media (max-width: 768px) {
    

    .submenu {
        position: static;
        padding-left: 20px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    
}